body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

nav {
  background: #2563eb;
  color: white;
  padding: 15px;
}

.container {
  background: white;
  padding: 20px;
  margin: 30px auto;
  width: 400px;
  border-radius: 8px;
}

input, button {
  padding: 8px;
  margin-top: 10px;
  width: 100%;
}

li {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
